VITE_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/YOUR_FORM_ID/formResponse
VITE_GOOGLE_FORM_FIELD_IP=entry.123456789
VITE_GOOGLE_FORM_FIELD_USER_AGENT=entry.987654321
VITE_IP_API=https://free.freeipapi.com/api/json
VITE_SUBMISSION_TIMEOUT_MS=5000
